.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.box button{
    width: 30%;
    border-radius: 15px;
    margin: 2.5% 0;
    padding: 1%;

}

.show {
    display: block;
}

.hidden {
    display: none !important;
}
.show1 {
    display: block;
}

.hidden1 {
    display: none !important;
}

.custom{
    margin-bottom: 50px;
}

.hide{
    background-color: white;
    z-index: 1;
    cursor: pointer;
    width: 40%;
}

.notHide{
    z-index: 0;
    width: 40%;
}
.hide1{
    background-color: white;
    z-index: 1;
    cursor: pointer;
    width: 40%;
}

.notHide1{
    z-index: 0;
    width: 40%;
}