@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    height: calc(100vh - 1px);
    width: calc(100vw - 17px);
    background-image: url("./img/istockphoto-1269211670-612x612.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.App{
    text-align: center;
    background-color: RGBA(108,101,80,0.85);
    width: 50%;
    margin: 5% auto;
    color: white;
    font-family: 'Fraunces', serif;

}



.App button{
    margin: 2.5% 1%;
    border-radius: 15px;
    padding: 1%;
    background-color: green;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

